header{
    background-color: $primary;
}

#headerContainer{
    width:100%;
    a{
        padding:25px;
        color:rgba(255,255,255,.75);
        text-decoration: none;
        text-transform: capitalize;
        &:hover{
            text-decoration: underline;
        }
        &:last-of-type::before{
            content: "@";
            color:black;
        }
    }
}
#company{
    padding-top:15px;
    margin-right:225px;
    padding-left: 55px;
    color:$secondary;
    h1{
        margin-bottom: 10px;
        text-decoration: underline;
    }
    h2{
        font-size: 18px;
        // padding-top:10px;
        // border-top: .5px solid $secondary;
    }
}
@media(max-width:$break-m){
    header{
        display:none;
    }
}

@media(min-width:$break-xl){
    #headerContainer{
        width:1200px;
        margin: 0 auto;
        display: flex;
        
    }
}